.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}

@font-face{
	font-family: Chalk;
	src: url(font/DK_Keswick.otf);
}


.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

body{
	background: url("images/blackboard-bg-home.jpg");
	background-size: 100%;
	font-family: Chalk;
}

.contentTop{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	color:white;
}

.list-group{
	color: white;
}

.list-group-item-heading{
	font-size: 24px;
}

.badge{
	font-size: 14px;
}

.list-group-item-text {
	font-size: 16px;
}

.list-group-item{
	margin-left: 5%;
	margin-right: 5%;
	background-color: transparent;
	border: none;
}

.contentTop select{
	color: black;
}

.input-group textarea{
	background-color: transparent;
	color: white;
	font-size: 24px;
	border: none;
}

#toTop{
	position: fixed;
	bottom: 95px;
	right: 40px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}
